

<div class="head-line">

<div class="navbar_block">
                        <div class="container">

                        <div class="col-md-1 nav_menu col-sm-3 col-xs-3">
                            <div class="menu_btn">
                                <a href="javascript: void(0);" id="toggle"><span></span></a>
                                <img class="arr_rot" src="/img/arr_down.png">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 logo_block">
                            <a href="/" class="logo_main"><img
                                    src="/img/cryp_logo.svg"
                                    alt="Crypto Binary Options"></a>
                           <a href='/' ><div class="text_name_logo">
                                <h2>Cryptobo</h2>
                                <p>Crypto Binary Options</p>
                               </div></a>
                        </div>

                        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 select_language">
                            <p><%=translation.CHANGE_LANG%></p>

<ul id="languages">

                                <li class="one"><a id="one" class="<%=(lang=="en"?"active":"")%>" href="/?clang=en"><img src="/img/icons/section_1/united-kingdom.svg"></a></li>
                            <li class="two"><a id ="two" class="<%=(lang=="ru"?"active":"")%>" href="/?clang=ru"><img src="/img/icons/section_1/ru.svg"></a></li>

                        </ul>



                            <img class="arr_down" src="/img/arr_down.png">

                        </div>
                        <div class="col-sm-12 col-xs-12 mob_text_name_logo">
                            <p>Crypto Binary Options</p>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 login_button">
                            <a class="nav_start_traiding" target="sign_up" href="https://trading.cryptobo.com/#register" title="Start traiding now">
                                <i class="icon-start-trading-now"></i>
                                <h4><%=translation.START_TRAD_NOW%></h4>
                            </a>
                            <div class="mob_start_or_log"><h6><%=translation.OR%></h6></div>
                            <a class="nav_log_in" target="log_in" href="https://trading.cryptobo.com/#login" title="log in">
                                <h3><%=translation.LOGIN%></h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


<a class="arr_upp_footer" href="#" ><i class="fa icon-arrows"></i> </a>