<% layout('layout/page.ejs') %>
<% block('title', 'About us')%>



<section class="s-about">
        <div class="container">
            <div class="row s_about_col">

                <div class="s-about-header">
                    <h2><%=translation.ABOUT%></h2>
                </div>
                <div class="s-about-text">
                    <p><%=translation.ABOUT_MANY_PEOPLE%></p>

                    <p><%=translation.ABOUT_CRYPTOBO%>

                    </p>
                    <ul>
                        <li><%=translation.ABOUT_ACCESS%></li>
                        <li><%=translation.ABOUT_PROFIT%></li>
                        <li><%=translation.ABOUT_GUARANTEE%></li>
                        <li><%=translation.ABOUT_TRADITIONAL%></li>
                        <li><%=translation.ABOUT_ACCURATE%></li>
                        <li><%=translation.ABOUT_ONLINE%></li>
                        <li><%=translation.ABOUT_REAL_DEP%></li>
                    </ul>
                </div>
                <div class="s_about_border">
                    <h4>
                        <%=translation.ABOUT_IN_ORDER%>
                    </h4>
                </div>

                <div class="s-about-buybit">
                    <h2><%=translation.HOW_TO_BUY_Q%></h2>
                    <p><%=translation.YOU_HAVE_CC%></p>
                    <a target="bestchsnge" href="http://www.bestchange.com/">
                        <h4><%=translation.BUY_BIT%></h4></a>
                </div>

                <div class="s-about-contact">
                    <h2><%=translation.CONTACT_US%></h2>
                     <div class="s_contact_list">
                         <div class="s-cont">
                             <i class="icon-call-answer"></i>

                             <div class="s-cont-text">
                                 <h3>Skype</h3>
                                 <p>cryptobo.com</p>
                             </div>

                         </div>
                         <div class="s-cont">
                             <i class="icon-mail"></i>

                             <div class="s-cont-text">
                                 <h3>Support</h3>
                                 <p>support@cryptobo.com</p>
                             </div>

                         </div>
                         <div class="s-cont">
                             <i class="icon-close-envelope"></i>

                             <div class="s-cont-text">
                                 <h3>Support</h3>
                                 <p>cryptobo.com@gmail.com</p>
                             </div>

                         </div>

                     </div>
                </div>
            </div>
        </div>
    </section>
