<% layout('layout/page.ejs') %>
<% block('title', 'Bonus')%>

<section class="s_bonus">
    <div class="container">
        <div class="row">
            <div class="bonus_txt">
            <h2><%=translation.BONUS_P_HEADER%></h2>
            <p><%=translation.BONUS_TXT1%></p>
                <p><%=translation.BONUS_TXT2%></p>

<p><%=translation.BONUS_TXT3%></p>
            <h3><%=translation.BONUS_HEADER_SMALL%></h3>
            <p class="formula_green"><%=translation.BONUS_FORMULA%></p>
            <h4 class="example_bot"><%=translation.BONUS_EXAMPLE%></h4>
                <p class="example_top"><%=translation.BONUS_TXT4%></p>

<p><%=translation.BONUS_TXT5%></p>
<p><%=translation.BONUS_TXT6%></p>
<p><%=translation.BONUS_TXT7%></p>

        </div>
            </div>
    </div>
</section>