
<% layout('layout/page.ejs') %>
<% block('title', 'FAQ')%>

 <section class="s-faq">
                <div class="container">
                    <div class="row s_faq_col">
                        <div class="s-faq-header">
                            <h2><%=translation.FAQ_HEADER%></h2>
                        </div>
                        <div class="s-faq-text">

                            <ul>
                                <li><h3><%=translation.FAQ_WHAT%></h3>
                                    <%=translation.FAQ_WHAT_TXT%>
                                </li>

                                <li><h3><%=translation.FAQ_HOW_TO%></h3>
                                    <%=translation.FAQ_HOW_TO_TXT%>
                                </li>

                                <li><h3><%=translation.FAQ_WHAT_WILL%></h3>
                                    <%=translation.FAQ_WHAT_WILL_TXT%>
                                </li>

                                <li><a href="/traders/assets"><h3><%=translation.FAQ_WHERE_CAN%></h3>
                                    <%=translation.FAQ_WHERE_CAN_TXT%>
                                    <br>
                                    <span><%=translation.FAQ_WHERE_CAN_A%></span>
                                </a>

                                </li>


                                <li><h3><%=translation.FAQ_CAN_I%></h3>
                                  <%=translation.FAQ_CAN_I_TXT%>
                                </li>


                            </ul>


                        </div>

                        <div class="s-faq-header">
                            <h2><%=translation.FAQ_HEADER_TRADING%></h2>
                        </div>
                        <div class="s-faq-text">

                            <ul>
                                <li><h3><%=translation.FAQ_TR_WHAT%></h3>
                                    <%=translation.FAQ_TR_WHAT_TXT%>
                                </li>

                                <li><h3><%=translation.FAQ_IS_WHAT%></h3>
                                    <%=translation.FAQ_IS_WHAT_TXT%>
                                </li>

                                <li><h3><%=translation.FAQ_IS_WHAT_PUT%></h3>
                                    <%=translation.FAQ_IS_WHAT_PUT_TXT%>
                                </li>

                                <li><h3><%=translation.FAQ_IS_WHAT_INV%></h3>
                                   <%=translation.FAQ_IS_WHAT_INV_TXT%>


                                </li>


                                <li><h3><%=translation.FAQ_IS_WHAT_EXP%></h3>
                                    <%=translation.FAQ_IS_WHAT_EXP_TXT%>
                                </li>

                                <li><h3><%=translation.FAQ_IS_WHAT_TIME%></h3>
                                    <%=translation.FAQ_IS_WHAT_TIME_TXT%>
                                </li>

                                <li><h3><%=translation.FAQ_IS_WHAT_MON%></h3>
                                    <%=translation.FAQ_IS_WHAT_MON_TXT%>
                                </li>
                                <li><h3><%=translation.FAQ_IS_WHAT_OUT%></h3>
                                   <%=translation.FAQ_IS_WHAT_OUT_TXT%>
                                </li>
                                <li><h3><%=translation.FAQ_IS_WHAT_STR%></h3>
                                   <%=translation.FAQ_IS_WHAT_STR_TXT%>
                                </li>
                                <li><h3><%=translation.FAQ_IS_WHY%></h3>
                                   <%=translation.FAQ_ALL%></li>

                            </ul>


                        </div>

                        <div class="s-faq-header">
                            <h2> <%=translation.FAQ_HEADER_ACCOUNT%></h2>
                        </div>
                        <div class="s-faq-text">

                            <ul>
                                <li><h3> <%=translation.FAQ_HOW%></h3>
                                     <%=translation.FAQ_HOW_TXT%>
                                </li>

                                <li><h3> <%=translation.FAQ_WHAT_DEP%></h3>
                                     <%=translation.FAQ_WHAT_DEP_TXT%>
                                </li>

                                <li><h3> <%=translation.FAQ_WHAT_WID%></h3>
                                    <%=translation.FAQ_WHAT_WID_TXT%>
                                </li>

                                <li><h3> <%=translation.FAQ_WHERE%></h3>
                                    <%=translation.FAQ_WHERE_TXT%>
                                </li>


                                <li><h3> <%=translation.FAQ_HOW_LONG%></h3>
                                    <%=translation.FAQ_HOW_LONG_TXT%>
                                </li>

                                <li><h3> <%=translation.FAQ_HOW_LONG_WID%></h3>
                                     <%=translation.FAQ_HOW_LONG_WID_TXT%>
                                </li>

                                <li><h3> <%=translation.FAQ_WHAT_MIN%></h3>
                                     <%=translation.FAQ_WHAT_MIN_TXT%>
                                </li>
                                <li><h3> <%=translation.FAQ_CAN%></h3>
                                    <%=translation.FAQ_CAN_TXT%>
                                </li>


                            </ul>


                        </div>

                        <div class="s-about-buybit">
                    <h2><%=translation.HOW_TO_BUY_Q%></h2>
                    <p><%=translation.YOU_HAVE_CC%></p>
                    <a target="bestchsnge" href="/traders/how_to_buy">
                        <h4><%=translation.BUY_BIT%></h4></a>
                </div>

                    </div>
                </div>
            </section>