<% layout('layout/page.ejs') %>
<% block('title', 'Glossary')%>

 <section class="s-glossary">
                <div class="container">
                    <div class="row s_glossary_col">
                        <div class="s-glossary-header">
                            <h2><%=translation.GLOS_HEADER%></h2>
                        </div>
                        <div class="s-glossary-text">

                            <ul>
                                <li><h3><%=translation.GLOS_BINARY%></h3>
                                   <%=translation.GLOS_BINARY_TXT%>
                                </li>

                                <li><h3><%=translation.GLOS_TURBO%></h3>
                                    <%=translation.GLOS_TURBO_TXT%>
                                </li>

                                <li><h3><%=translation.GLOS_LONG%></h3>
                                    <%=translation.GLOS_LONG_TXT%>
                                </li>

                                <li><h3><%=translation.GLOS_TREND%></h3>
                                    <%=translation.GLOS_TREND_TXT%>
                                </li>


                                <li><h3><%=translation.GLOS_FUND%></h3>
                                   <%=translation.GLOS_FUND_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_TECH%></h3>
                                   <%=translation.GLOS_TECH_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_DEP%></h3>
                                  <%=translation.GLOS_DEP_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_MIN%></h3>
                                   <%=translation.GLOS_MIN_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_QUOTE%></h3>
                                  <%=translation.GLOS_QUOTE_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_BONUS%></h3>
                                   <%=translation.GLOS_BONUS_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_HOURS%></h3>
                                   <%=translation.GLOS_HOURS_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_EXCH%></h3>
                                 <%=translation.GLOS_EXCH_TXT%>
                                </li>

                                <li><h3><%=translation.GLOS_FAQ%></h3>
                                   <%=translation.GLOS_FAQ_TXT%>
                                </li>
                                <li><h3><%=translation.GLOS_PRICE%></h3>
                                   <%=translation.GLOS_PRICE_TXT%>
                                </li>




                            </ul>


                        </div>



                    </div>
                </div>
            </section>