<% layout('layout/page.ejs') %>
<% block('title', 'How to buy bitcoin')%>

 <section class="s-howtob">
                <div class="container">
                    <div class="row s_howtob_col">
                        <div class="s-howtob-header">
                            <h2><%=translation.HOW_TO_BB%></h2>
                        </div>
                        <div class="s-howtob-text">

                            <ul>
                                <li><h3><%=translation.HOW_TO_BB_DEP%></h3>
                                   <%=translation.HOW_TO_BB_BROK%>
                                </li>
                                <li><span><%=translation.HOW_TO_BB_PLS%></span></li>

                                <li>
                                    <span><%=translation.HOW_TO_BB_CLC%></span>
                                    <div class="howtob-img">
                                        <img src="/img/1.jpg">
                                    </div>
                                    <div class="howtob-img-ru">
                                        <img src="/img/1rus.jpg">
                                    </div>
                                </li>

                                <li>
                                    <span><%=translation.HOW_TO_BB_WILL%> <a
                                            href="http://preev.com/btc/usd" target="preev">http://preev.com/btc/usd</a></span>
                                    <div class="howtob-img">
                                        <img src="/img/2.jpg">
                                    </div>
                                    <div class="howtob-img-ru">
                                        <img src="/img/2rus.jpg">
                                    </div>
                                </li>

                                <li>
                                    <span><%=translation.HOW_TO_BB_THEN%></span>
                                    <span class="howtob_border_left"><%=translation.HOW_TO_BB_ADDR%></span>
                                    <div class="howtob-img">
                                        <img src="/img/3.jpg">
                                    </div>
                                    <div class="howtob-img-ru">
                                        <img src="/img/3rus.jpg">
                                    </div>
                                </li>

                                <li>
                                    <span><%=translation.HOW_TO_BB_AFT%>
                                        <br>
                                       <%=translation.HOW_TO_BB_BEST%> <a href="https://www.bestchange.ru/?p=383709" target="bestchange">https://www.bestchange.ru/?p=383709</a></span>
                                    <div class="howtob-img">
                                        <img src="/img/4.jpg">
                                    </div>
                                    <div class="howtob-img-ru">
                                        <img src="/img/4rus.jpg">
                                    </div>
                                    <span class="howtob_pad_top"><%=translation.HOW_TO_BB_SITE%></span>
                                </li>
                                <li>
                                    <span><%=translation.HOW_TO_BB_DES%>
                                    </span>
                                    <div class="howtob-img">
                                        <img src="/img/5.jpg">
                                    </div>
                                    <div class="howtob-img-ru">
                                        <img src="/img/5.jpg">
                                    </div>
                                    <span class="howtob_pad_top"><%=translation.HOW_TO_BB_ENT%></span>
                                </li>
                                <li>
                                    <span><%=translation.HOW_TO_BB_YOUR%></span>
                                    <div class="howtob-img">
                                        <img src="/img/6.jpg">
                                    </div>
                                    <div class="howtob-img-ru">
                                        <img src="/img/6.jpg">
                                    </div>
                                </li>
                                <li>
                                    <span><%=translation.HOW_TO_BB_SUC%></span>

                                </li>
                                <li>
                                    <span><%=translation.HOW_TO_BB_STAT%></span>
                                    <div class="howtob-img">
                                        <img src="/img/7.jpg">
                                    </div>
                                    <div class="howtob-img-ru">
                                        <img src="/img/7.jpg">
                                    </div>
                                    <span class="howtob_pad_top"><%=translation.HOW_TO_BB_INFO%>
                                    <br>
                                        <%=translation.HOW_TO_BB_FUND%>
                                        <br>
                                        <%=translation.HOW_TO_BB_WAIT%>

                                    </span>
                                </li>
                                <li>
                                    <span><%=translation.HOW_TO_BB_QUE%></span>

                     <div class="s_howtob_list">
                         <div class="s-howtob">
                             <i class="icon-call-answer"></i>

                             <div class="s-howtob-text">
                                 <h3>Skype</h3>
                                 <p>cryptobo.com</p>
                             </div>

                         </div>
                         <div class="s-howtob">
                             <i class="icon-mail"></i>

                             <div class="s-howtob-text">
                                 <h3>Support</h3>
                                 <p>support@cryptobo.com</p>
                             </div>

                         </div>
                         <div class="s-howtob">
                             <i class="icon-close-envelope"></i>

                             <div class="s-howtob-text">
                                 <h3>Support</h3>
                                 <p>cryptobo.com@gmail.com</p>
                             </div>

                         </div>


                </div>

                                </li>


                            </ul>


                        </div>


                    </div>
                </div>
            </section>

