<% layout('layout/page.ejs') %>
<% block('title', 'Privacy policy')%>

 <section class="s-privacyp">
                <div class="container">
                    <div class="row s_privacyp_col">
                        <div class="s-privacyp-header">
                            <h2><%=translation.PRIVACY_POL_HEADER%></h2>
                        </div>
                        <div class="s-privacyp-text">

                            <ul>
                                <li><h3><%=translation.PRIVACY_POL_INF%></h3>
                                   <%=translation.PRIVACY_POL_INF_TXT%>
                                </li>

                                <li><h3><%=translation.PRIVACY_POL_PERS%></h3>
                                    <%=translation.PRIVACY_POL_PERS_TXT%>
                                </li>

                                <li><h3><%=translation.PRIVACY_POL_SHAR%></h3>
                                    <%=translation.PRIVACY_POL_SHAR_TXT%>
                                </li>

                                <li><h3><%=translation.PRIVACY_POL_SHAR_IN%></h3>
                                  <%=translation.PRIVACY_POL_SHAR_IN_TXT%>

                                </li>


                                <li><h3><%=translation.PRIVACY_POL_REG%></h3>
                                   <%=translation.PRIVACY_POL_REG_TXT%>
                                 </li>
                                <li><h3><%=translation.PRIVACY_POL_OPT%></h3>
                                    <%=translation.PRIVACY_POL_OPT_TXT%>
                                 </li>



                            </ul>


                        </div>



                    </div>
                </div>
            </section>