<% layout('layout/page.ejs') %>
<% block('title', 'Partner Program Terms')%>



<section class="s-about">
        <div class="container">
            <div class="row s_about_col">

                <div class="s-about-header">

                    <h2><%=translation.TERMS_PP_HEADER%>
</h2>
                </div>
                <div class="s-about-text" style="width: 100%">

<h4 style="text-align: center">
    <%=translation.TERMS_PP_HEADER_H4%>
                    </h4>
                    <ul>
                        <li><%=translation.TERMS_PP_LI1%></li>
                        <li><%=translation.TERMS_PP_LI2%></li>
                        <li><%=translation.TERMS_PP_LI3%></li>
                        <li><%=translation.TERMS_PP_LI4%></li>
                        <li><%=translation.TERMS_PP_LI5%></li>
                    </ul>
                </div>
                <div class="s-about-text">
                    <h4 style="text-align: center">

<%=translation.TERMS_PP_HEADER_H4_TWO%>
                    </h4>
                    <ul>
                     <li><%=translation.TERMS_PP_LI1_1%></li>
                        <li><%=translation.TERMS_PP_LI2_2%></li>
                        <li><%=translation.TERMS_PP_LI3_3%></li>
                        <li><%=translation.TERMS_PP_LI4_4%></li>
                        <li><%=translation.TERMS_PP_LI5_5%></li>
                    </ul>


                </div>
                <div class="s_about_border">
                    <h4>
                       <%=translation.TERMS_PP_HEADER_H4_THREE%>
                    </h4>
                </div>

                <div class="s-about-buybit">
                    <h2><%=translation.HOW_TO_BUY_Q%></h2>
                    <p><%=translation.YOU_HAVE_CC%></p>
                    <a target="bestchsnge" href="http://www.bestchange.com/">
                        <h4><%=translation.BUY_BIT%></h4></a>
                </div>

                <div class="s-about-contact">
                    <h2><%=translation.CONTACT_US%></h2>
                     <div class="s_contact_list">
                         <div class="s-cont">
                             <i class="icon-call-answer"></i>

                             <div class="s-cont-text">
                                 <h3>Skype</h3>
                                 <p>aff.cryptobo</p>
                             </div>

                         </div>
                         <div class="s-cont">
                             <i class="icon-mail"></i>

                             <div class="s-cont-text">
                                 <h3>Telegram</h3>
                                 <p>@bopartner</p>
                             </div>

                         </div>


                     </div>
                </div>
            </div>
        </div>
    </section>