<% layout('layout/page.ejs') %>
<% block('title', 'Terms and conditions')%>

<section class="s-terms">
                <div class="container">
                    <div class="row s_terms_col">
                        <div class="s-terms-header">
                            <h2><%=translation.T_C_HEADER%></h2>
                        </div>
                        <div class="s-terms-text">

                            <ul>
                                <li><h3><%=translation.T_C_GEN%></h3>
                                    <%=translation.T_C_GEN_TXT%>
                                </li>

                                <li><h3><%=translation.T_C_MEMB%></h3>
                                   <%=translation.T_C_MEMB_TXT1%>
                                    <br>
                                    <%=translation.T_C_MEMB_TXT2%>
                                </li>

                                <li><h3><%=translation.T_C_AGG%></h3>
                                    <%=translation.T_C_AGG_TXT%>

                                </li>

                                <li><h3><%=translation.T_C_REG%></h3>
                                   <%=translation.T_C_REG_TXT%>
                                </li>


                                <li><h3><%=translation.T_C_LEG%></h3>
                                    <%=translation.T_C_LEG_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_LIM%></h3>
                                   <%=translation.T_C_LIM_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_RISK%></h3>
                                    <%=translation.T_C_RISK_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_FIN%></h3>
                                    <%=translation.T_C_FIN_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_LINKS%></h3>
                                   <%=translation.T_C_LINKS_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_CANC%></h3>
                                    <%=translation.T_C_CANC_TXT%>


                                </li>
                                <li><h3><%=translation.T_C_TRAD%></h3>
                                   <%=translation.T_C_TRAD_TXT%>
                                    <ul class="noborder">
                                        <li><%=translation.T_C_CRYP1%>
                                        </li>
                                        <li><%=translation.T_C_CRYP2%>
                                        </li>
                                        <li><%=translation.T_C_CRYP3%>
                                        </li>
                                        <li><%=translation.T_C_CRYP4%>
                                        </li>
                                        <li><%=translation.T_C_CRYP5%>
                                        </li>
                                        <li><%=translation.T_C_CRYP6%>
                                        </li>
                                    </ul>
                                </li>
                                <li><h3><%=translation.T_C_PROC%></h3>
                                    <%=translation.T_C_PROC_TXT1%>
                                    <br>
                                    <%=translation.T_C_PROC_TXT2%>
                                    <br>
                                    <%=translation.T_C_PROC_TXT3%>
                                    <br>
                                    <%=translation.T_C_PROC_TXT4%>

                                </li>
                                <li><h3><%=translation.T_C_DORM%></h3>
                                    <%=translation.T_C_DORM_TXT%>

                                </li>
                                <li><h3><%=translation.T_C_LIA%></h3>
                                   <%=translation.T_C_LIA_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_ANTI%></h3>
                                    <%=translation.T_C_ANTI_TXT%>
                                    <ul class="noborder">
                                        <li><%=translation.T_C_ANTI_TXT1%>
                                        </li>
                                        <li><%=translation.T_C_ANTI_TXT2%>
                                        </li>
                                        <li><%=translation.T_C_ANTI_TXT3%>
                                        </li>
                                        <li><%=translation.T_C_ANTI_TXT4%>
                                        </li>
                                        <li><%=translation.T_C_ANTI_TXT5%>
                                        </li>
                                    </ul>
                                </li>
                                <li><h3><%=translation.T_C_INP%></h3>
                                   <%=translation.T_C_INP_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_INDE%></h3>
                                    <%=translation.T_C_INDE_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_TT%></h3>
                                   <%=translation.T_C_TT_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_FM%></h3>
                                   <%=translation.T_C_FM_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_GC%></h3>
                                    <%=translation.T_C_GC_TXT%>
                                </li>
                                <li><h3><%=translation.T_C_CCAD%></h3>
                                    <ul class="noborder">
                                        <li><%=translation.T_C_CCAD_TXT1%>
                                        </li>
                                        <li><%=translation.T_C_CCAD_TXT2%>
                                        </li>
                                        <li><%=translation.T_C_CCAD_TXT3%>
                                            <ul class="nobordersub">
                                                <li><%=translation.T_C_CCAD_TXT01%></li>
                                                <li><%=translation.T_C_CCAD_TXT02%></li>
                                                <li><%=translation.T_C_CCAD_TXT03%></li>
                                                <li><%=translation.T_C_CCAD_TXT04%></li>
                                                <li><%=translation.T_C_CCAD_TXT05%></li>
                                            </ul>
                                        </li>
                                        <li><%=translation.T_C_CCAD_TXT4%>
                                            <ul class="nobordersub">
                                                <li><%=translation.T_C_CCAD_TXT41%>
                                                </li>
                                                <li><%=translation.T_C_CCAD_TXT42%>
                                                </li>
                                                <li><%=translation.T_C_CCAD_TXT43%>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><%=translation.T_C_CCAD_TXT5%>
                                        </li>
                                        <li><%=translation.T_C_CCAD_TXT6%>
                                        </li>
                                        <li><%=translation.T_C_CCAD_TXT7%>
                                        </li>
                                    </ul>
                                </li>



                            </ul>


                        </div>


                    </div>
                </div>
            </section>