<% layout('layout/page.ejs') %>
<% block('title', 'Withdrawal')%>

 <section class="s-withdrawal">
                <div class="container">
                    <div class="row s_withdrawal_col">
                        <div class="s-withdrawal-header">
                            <h2><%=translation.WITHD_REF_POL%></h2>
                        </div>
                        <div class="s-withdrawal-text">

                            <ul>
                                <li>
                                   <%=translation.WITHD_REF_TO%>
                                </li>

                                <li>
                                   <%=translation.WITHD_REF_AFT%>
                                </li>

                                <li>
                                    <%=translation.WITHD_REF_REQ%>
                                </li>

                                <li>
                                    <%=translation.WITHD_REF_COM%>
                                </li>
                                <li>
                                    <%=translation.WITHD_REF_UPON%>
                                </li>

                                <li>
                                   <%=translation.WITHD_REF_CLI%>
                                </li>

                                <li>
                                  <%=translation.WITHD_REF_TOT%>
                                </li>




                            </ul>


                        </div>



                    </div>
                </div>
            </section>