<!DOCTYPE html>
<!--[if lt IE 7 ]-->
<html class="ie ie6" lang="en"> <!--[endif]-->
<!--[if IE 7 ]-->
<html class="ie ie7" lang="en"> <!--[endif]-->
<!--[if IE 8 ]-->
<html class="ie ie8" lang="en"> <!--[endif]-->
<!--[if (gte IE 9)|!(IE)]-->
<html lang="ru"> <!--<![endif]-->

<head>

    <meta charset="utf-8">

    <title><%= blocks.title %></title>
    <meta name="description" content=<%= translation.TITLE %>>

    <!-- Bootstrap v3.3.4 Grid Styles -->
    <style>
        html{font-family:"OpenSansRegular",sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body,figure,button,input,optgroup,select,textarea,.sr-only-focusable:focus,.sr-only-focusable:active{margin:0}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;color:#333}body,.img-thumbnail{line-height:1.42857143;background-color:#fff}figure,.img-responsive,.center-block,summary,aside,details,figcaption,footer,header,hgroup,main,menu,nav,section,article{display:block}audio:not([controls]),template,[hidden]{display:none}audio:not([controls]){height:0}a,.text-hide{background-color:transparent}a{color:#337ab7;text-decoration:none}a:active,a:hover{outline:0}a:hover,a:focus{color:#23527c;text-decoration:underline}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0}sub,sup,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-lg-12,.col-md-1,.col-lg-1,.col-sm-2,.col-md-2,.col-lg-2,.col-sm-3,.col-md-3,.col-lg-3,.col-sm-4,.col-md-4,.col-lg-4,.col-sm-5,.col-md-5,.col-lg-5,.col-sm-6,.col-md-6,.col-lg-6,.col-sm-7,.col-md-7,.col-lg-7,.col-sm-8,.col-md-8,.col-lg-8,.col-sm-9,.col-md-9,.col-lg-9,.col-sm-10,.col-md-10,.col-lg-10,.col-sm-11,.col-md-11,.col-lg-11,.col-sm-12,.col-md-12,.col-sm-1{position:relative}sub,sup,video,canvas,progress,audio{vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img,hr,.sr-only,.text-hide,legend,input::-moz-focus-inner,button::-moz-focus-inner{border:0}img{vertical-align:middle}svg:not(:root),.sr-only{overflow:hidden}hr,input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}pre,textarea{overflow:auto}pre,samp,kbd,code{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit}button,.sr-only-focusable:focus,.sr-only-focusable:active{overflow:visible}button,select{text-transform:none}button,input[type="submit"],input[type="reset"],html input[type="button"]{-webkit-appearance:button}button,[role="button"],input[type="submit"],input[type="reset"],html input[type="button"]{cursor:pointer}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}optgroup,strong,b{font-weight:700}input[type="search"]{-webkit-appearance:textfield}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.img-responsive{max-width:100%}.img-thumbnail{max-width:100%;padding:4px;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.img-responsive,.img-thumbnail,input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button,.sr-only-focusable:focus,.sr-only-focusable:active{height:auto}.img-rounded{border-radius:6px}.img-thumbnail,video,canvas,progress,audio{display:inline-block}.img-circle{border-radius:50%}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;clip:rect(0,0,0,0)}.sr-only,legend,input::-moz-focus-inner,button::-moz-focus-inner,input[type="radio"],input[type="checkbox"],th,td{padding:0}.row{margin-left:-15px;margin-right:-15px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-lg-12,.col-md-1,.col-lg-1,.col-sm-2,.col-md-2,.col-lg-2,.col-sm-3,.col-md-3,.col-lg-3,.col-sm-4,.col-md-4,.col-lg-4,.col-sm-5,.col-md-5,.col-lg-5,.col-sm-6,.col-md-6,.col-lg-6,.col-sm-7,.col-md-7,.col-lg-7,.col-sm-8,.col-md-8,.col-lg-8,.col-sm-9,.col-md-9,.col-lg-9,.col-sm-10,.col-md-10,.col-lg-10,.col-sm-11,.col-md-11,.col-lg-11,.col-sm-12,.col-md-12,.col-sm-1{min-height:1px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.container-fluid,.container,.col-lg-12,.col-md-1,.col-lg-1,.col-sm-2,.col-md-2,.col-lg-2,.col-sm-3,.col-md-3,.col-lg-3,.col-sm-4,.col-md-4,.col-lg-4,.col-sm-5,.col-md-5,.col-lg-5,.col-sm-6,.col-md-6,.col-lg-6,.col-sm-7,.col-md-7,.col-lg-7,.col-sm-8,.col-md-8,.col-lg-8,.col-sm-9,.col-md-9,.col-lg-9,.col-sm-10,.col-md-10,.col-lg-10,.col-sm-11,.col-md-11,.col-lg-11,.col-sm-12,.col-md-12,.col-sm-1{padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}.col-xs-1{width:8.33333333%}.col-xs-2{width:16.66666667%}.col-xs-3{width:25%}.col-xs-4{width:33.33333333%}.col-xs-5{width:41.66666667%}.col-xs-6{width:50%}.col-xs-7{width:58.33333333%}.col-xs-8{width:66.66666667%}.col-xs-9{width:75%}.col-xs-10{width:83.33333333%}.col-xs-11{width:91.66666667%}.col-xs-12{width:100%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}.center-block,.container-fluid,.container{margin-left:auto;margin-right:auto}.pull-right{float:right!important}.pull-left{float:left!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none}.affix{position:fixed}html input[disabled]{cursor:default}button[disabled]{cursor:default}input[type="radio"],input[type="checkbox"],:after,:before,*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}.sr-only-focusable:focus{position:static;width:auto;clip:auto}.sr-only-focusable:active{position:static;width:auto;clip:auto}.row:before,.container:before,.container-fluid:before,.clearfix:before,.row:after,.container:after,.container-fluid:after,.clearfix:after{content:" ";display:table}.row:after,.container:after,.container-fluid:after,.clearfix:after{clear:both}.visible-print-inline-block,.hidden,.visible-xs,.visible-sm,.visible-md,.visible-lg,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-print,.visible-print-block,.visible-print-inline,.hide{display:none!important}hr{height:0;margin-top:20px;margin-bottom:20px;border-top:1px solid #eee}abbr[title]{border-bottom:1px dotted}@media (min-width: 768px){.container{width:750px}.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}.col-sm-1{width:8.33333333%}.col-sm-2{width:16.66666667%}.col-sm-3{width:25%}.col-sm-4{width:33.33333333%}.col-sm-5{width:41.66666667%}.col-sm-6{width:50%}.col-sm-7{width:58.33333333%}.col-sm-8{width:66.66666667%}.col-sm-9{width:75%}.col-sm-10{width:83.33333333%}.col-sm-11{width:91.66666667%}.col-sm-12{width:100%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width: 992px){.container{width:970px}.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}.col-md-1{width:8.33333333%}.col-md-2{width:16.66666667%}.col-md-3{width:25%}.col-md-4{width:33.33333333%}.col-md-5{width:41.66666667%}.col-md-6{width:50%}.col-md-7{width:58.33333333%}.col-md-8{width:66.66666667%}.col-md-9{width:75%}.col-md-10{width:83.33333333%}.col-md-11{width:91.66666667%}.col-md-12{width:100%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width: 1200px){.container{width:1170px}.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}.col-lg-1{width:8.33333333%}.col-lg-2{width:16.66666667%}.col-lg-3{width:25%}.col-lg-4{width:33.33333333%}.col-lg-5{width:41.66666667%}.col-lg-6{width:50%}.col-lg-7{width:58.33333333%}.col-lg-8{width:66.66666667%}.col-lg-9{width:75%}.col-lg-10{width:83.33333333%}.col-lg-11{width:91.66666667%}.col-lg-12{width:100%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}table.visible-lg{display:table}tr.visible-lg{display:table-row!important}.visible-lg-inline{display:inline!important}.visible-lg-inline-block{display:inline-block!important}.hidden-lg{display:none!important}td.visible-lg,th.visible-lg{display:table-cell!important}.visible-lg-block,.visible-lg{display:block!important}}@media (max-width: 767px){table.visible-xs{display:table}tr.visible-xs{display:table-row!important}.visible-xs-inline{display:inline!important}.visible-xs-inline-block{display:inline-block!important}.hidden-xs{display:none!important}td.visible-xs,th.visible-xs{display:table-cell!important}.visible-xs-block,.visible-xs{display:block!important}}@media (min-width: 768px) and (max-width: 991px){table.visible-sm{display:table}tr.visible-sm{display:table-row!important}.visible-sm-inline{display:inline!important}.visible-sm-inline-block{display:inline-block!important}.hidden-sm{display:none!important}td.visible-sm,th.visible-sm{display:table-cell!important}.visible-sm-block,.visible-sm{display:block!important}}@media (min-width: 992px) and (max-width: 1199px){table.visible-md{display:table}tr.visible-md{display:table-row!important}.visible-md-inline{display:inline!important}.visible-md-inline-block{display:inline-block!important}.hidden-md{display:none!important}td.visible-md,th.visible-md{display:table-cell!important}.visible-md-block,.visible-md{display:block!important}}@media print{table.visible-print{display:table}tr.visible-print{display:table-row!important}.visible-print-inline{display:inline!important}.visible-print-inline-block{display:inline-block!important}.hidden-print{display:none!important}td.visible-print,th.visible-print{display:table-cell!important}.visible-print-block,.visible-print{display:block!important}}
    </style>


    <script>!function () {
            function e(e, t, n) {
                e.addEventListener ? e.addEventListener(t, n, !1) : e.attachEvent && e.attachEvent("on" + t, n)
            }

            function t(e) {
                return window.localStorage && localStorage.font_css_cache && localStorage.font_css_cache_file === e
            }

            function n() {
                if (window.localStorage && window.XMLHttpRequest)if (t(o)) a(localStorage.font_css_cache); else {
                    var n = new XMLHttpRequest;
                    n.open("GET", o, !0), e(n, "load", function () {
                        4 === n.readyState && (a(n.responseText), localStorage.font_css_cache = n.responseText, localStorage.font_css_cache_file = o)
                    }), n.send()
                } else {
                    var c = document.createElement("link");
                    c.href = o, c.rel = "stylesheet", c.type = "text/css", document.getElementsByTagName("head")[0].appendChild(c), document.cookie = "font_css_cache"
                }
            }

            function a(e) {
                var t = document.createElement("style");
                t.innerHTML = e, document.getElementsByTagName("head")[0].appendChild(t)
            }

            var o = "/css/_fonts.min.css";
            window.localStorage && localStorage.font_css_cache || document.cookie.indexOf("font_css_cache") > -1 ? n() : e(window, "load", n)
        }();</script>

    <!-- Load CSS Compilled without JS -->



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



    <link rel="shortcut icon" href="/img/favicon/favicon.ico"
          type="image/x-icon" style="width: 28px">
    <link rel="apple-touch-icon" href="/img/favicon/favicon.ico"
          style="width: 54px">
    <link rel="apple-touch-icon" sizes="72x72"
          href="/img/favicon/favicon.ico" style="width: 72px">
    <link rel="apple-touch-icon" sizes="114x114"
          href="/img/favicon/favicon.ico" style="width: 114px">


</head>

<body style="background-color: #040404">
<div id="pre-loader" class="preloader">
    <div class="loader-inner">
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
    </div>
</div>




<div class="backg"
     style="background-image: url(/img/bg22.png);opacity: 0; background-repeat: no-repeat;background-position:center; background-size: cover">


    <div class="main-mnu" style="display: none">
        <div class="container">
            <div class="row mnu_hide">

                <div class="col-md-5 col-xs-12 mnu_show">
                    <div class="menu_reg_button">
                        <a class="sign_up_btn" href="https://trading.cryptobo.com/#register" title="Sing up now">
                            <h4><%= translation.SIGN_UP %></h4>
                        </a>
                        <a class="nav_log_in"  href="https://trading.cryptobo.com/#login" title="log in">
                            <h3><%= translation.LOGIN %></h3>
                        </a>
                    </div>

                    <div class="m">
                        <ul class="mnu_list">
                            <li class="mo">
                                <a class="el-hover" href="/"><h3><%= translation.HOME %></h3></a>

                            </li>

                            <li class="mo">

                                <a class="el-hover" href="/about"><h3><%= translation.ABOUT %></h3></a>

                            </li>

                            <li class="mo">

                                <a class="el-hover" href="javascript: void(0);"><h3><%= translation.FOR_TRAIDERS %></h3>
                                </a>
                                <img class="mnu_arr_right" src="/img/arr-right.png">

                                <ul class="submnu_list">
                                    <li><a href="/traders/cryptocurrency"><h3><%= translation.CRYP_PAIRS %></h3></a>
                                    </li>
                                    <li><a href="/traders/assets"><h3><%= translation.ASSETS %></h3></a></li>
                                    <li><a href="/traders/faq"><h3><%= translation.FAQ %></h3></a></li>
                                    <li><a href="/traders/glossary"><h3><%= translation.GLOSSARY %></h3></a></li>
                                    <li><a href="/traders/how_to_buy"><h3><%= translation.HOW_TO_BUY_BIT %></h3></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="mo">
                                <a class="el-hover" href="javascript: void(0);">
                                    <h3><%= translation.DOCUMENTATION %></h3></a>
                                <img class="mnu_arr_right" src="/img/arr-right.png">

                                <ul class="submnu_list">
                                    <li><a href="/doc/withdrawal&refund_policy"><h3><%= translation.WIND_REF %></h3></a>
                                    </li>
                                    <li><a href="/doc/payment_policy"><h3><%= translation.PAYMENT_POL %></h3></a></li>
                                    <li><a href="/doc/privacy_policy"><h3><%= translation.PRIVAT_POL %></h3></a></li>
                                    <li><a href="/doc/terms&conditions"><h3><%= translation.TERMS_CON %></h3></a></li>
                                    <li><a href="/doc/bonus"><h3><%= translation.BONUS_P_HEADER %></h3></a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- partial('../partials/topNavigation') %>


    <%- body %>


    <footer>
        <div class="container">
            <div class="row">
                <div class="footer_top">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 footer_logo_block">
                        <a href="/" class="logo_main"><img src="/img/cryp_logo.svg" alt="Crypto Binary Options"></a>
                        <a href="/"><div class="footer_text_name_logo">
                            <h2>Cryptobo</h2>
                            <p>Crypto Options</p>
                        </div></a>
                    </div>
                    <div class="col-sm-12 col-xs-12 footer_mob_text_name_logo">
                        <p>Crypto Options</p>
                    </div>

                    <div class="col-lg-5 col-md-3 col-sm-3 col-xs-3 footer_select_language">
                        <p><%= translation.CHANGE_LANG %></p>
                        <ul id="languages">

                            <li class="one"><a id="one_f" class="<%= (lang == "en" ? "active" : "") %>"
                                               href="?clang=en"><img src="/img/icons/section_1/united-kingdom.svg"></a>
                            </li>
                            <li class="two"><a id="two_f" class="<%= (lang == "ru" ? "active" : "") %>"
                                               href="?clang=ru"><img src="/img/icons/section_1/ru.svg"></a></li>

                        </ul>


                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 soc_icons">
                        <ul>
                            <li><a target="fb" href="https://www.facebook.com/cryptobocom/"><i
                                            class="fa icon-facebook"></i></a></li>
                            <li class='ru_y'><a target="youtube"
                                                href="https://www.youtube.com/channel/UCES8M8IjxThE85M3xQb9zeA"><i
                                            class="fa icon-youtube"></i></a></li>
                            <li class="en_y"><a target="youtube"
                                                href="https://www.youtube.com/watch?v=ZqQmah1boUY&t=8s"><i
                                            class="fa icon-youtube"></i></a></li>
                            <li><a target="vk" href="https://vk.com/cryptobo"><i class="fa icon-vk-social-logotype"></i></a>
                            </li>
                            <li><a target="bitcoin"
                                   href="https://bitcointalk.org/index.php?topic=1979304.msg19705528#msg19705528"><i
                                            class="fa icon-bitcoin"></i></a></li>
                            <li><a target="telegram" href="https://t.me/cryptobinary"><i
                                            class="fa icon-telegram"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 footer_txt">
                            <h4>
                                <span><%= translation.RISK_WARN %></span> <%= translation.TEXT_FOOTER %>
                            </h4>
                            <h3 class="footer_anim_show">COPYRIGHT © <span>2018 CRYPTOBO.COM</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </footer>
</div>

<noscript id="deferred-styles">
     <link rel="stylesheet" href="/css/_header.min.css">
    <link rel="stylesheet" type="text/css" href="/img/soc_icons_mnu/font/style.css">

    <link rel="stylesheet" href="/css/_fonts.min.css">

        <link rel="stylesheet" href="/css/_main.min.css">
        <link rel="stylesheet" href="/css/_about.min.css">

    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
<!--[if lt IE 9]-->
<script src="/libs/html5shiv/es5-shim.min.js"></script>
<script src="/libs/html5shiv/html5shiv.min.js"></script>
<script src="/libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="/libs/respond/respond.min.js"></script>
<!--[endif]-->

<!-- Load CSS -->
<script>

    //Load Libs CSS
    var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = "/libs/animate/animate.css";
    document.getElementsByTagName("head")[0].appendChild(ms);

    //Header Styles (compress & paste to header after release)
    var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = "/css/_header.min.css";
    document.getElementsByTagName("head")[0].appendChild(ms);

    //User Styles + Media Queries
    var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = "/css/_main.min.css";
    document.getElementsByTagName("head")[0].appendChild(ms);
    var ms = document.createElement("link");
    ms.rel = "stylesheet";
    ms.href = "/css/_about.min.css";
    document.getElementsByTagName("head")[0].appendChild(ms);


</script>

<!-- Load Scripts -->
<script>var scr = {
        "scripts": [
            {"src": "/libs/modernizr/modernizr.js", "async": false},
            {"src": "/libs/jquery/jquery-3.3.1.min.js", "async": false},
            {"src": "/libs/waypoints/waypoints.min.js", "async": false},
            {"src": "/libs/animate/animate-css.js", "async": false},
            {"src": "/libs/plugins-scroll/plugins-scroll.js", "async": false},
            {"src": "/libs/kanv/highcharts.js", "async": false},
            {"src": "/libs/kanv/exporting.js", "async": false},
            {"src": "/js/common.js", "async": false},
            {"src": "/js/canv.js", "async": false}
        ]
    };
    !function (t, n, r) {
        "use strict";
        var c = function (t) {
            if ("[object Array]" !== Object.prototype.toString.call(t))return !1;
            for (var r = 0; r < t.length; r++) {
                var c = n.createElement("script"), e = t[r];
                c.src = e.src, c.async = e.async, n.body.appendChild(c)
            }
            return !0
        };
        t.addEventListener ? t.addEventListener("load", function () {
            c(r.scripts);
        }, !1) : t.attachEvent ? t.attachEvent("onload", function () {
            c(r.scripts)
        }) : t.onload = function () {
            c(r.scripts)
        }
    }(window, document, scr);
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101792205-1"></script>
<script src="/js/preload.js"></script>
<noscript><div><img src="https://mc.yandex.ru/watch/47654038" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>